ul.tabs .mageup-section span {padding: 0 0 0 20px; background: url('../images/mageup_logo_2.gif') no-repeat 0 50%;}
ul.tabs .mageup-section.active:hover span,
ul.tabs .mageup-section.active span {background: #fff url('../images/mageup_logo_2.gif') no-repeat 0 50%;}
ul.tabs a.mageup-section, ul.tabs a.mageup-section:hover {
    background: url(../../images/tabs_span_bg.gif) repeat-x 0 100%;
    border-bottom: none;
    padding: 0.5em 0.5em 0.28em 1.5em;
}
ul.tabs a.mageup-section:hover {
    background-color: #D8E6E6;
}
ul.tabs a.mageup-section.active, ul.tabs a.mageup-section.active:hover {
    background-color: white;
}